form{
    display: grid;
    justify-content: center;
}
.outer{
    position: absolute;
    background-color: aliceblue;
    top:5%;
    width: 50%;
    height: 40%;
    right: 25%;
    left: 25%;
    padding: 20px;
    border-radius: 20px;
}
h2{
    text-align: center;
    margin-top:10px;
}
 form *{
    padding: 10px;
 }